In [5]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.1-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.7)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp310-cp310-win_amd64.whl (52 kB)
     -------------------------------------- 52.1/52.1 KB 384.4 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.22.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.29.1-py3-none-any.whl (895 kB)
     -------------------------------------- 895.5/895.5 KB 2.6 MB/s eta 0:00:00
Collecting pillow>=6.2.0
  Downloading Pillow-9.0.1-cp310-cp310-win_amd64.whl (3.2 MB)
     ---------------------------------------- 3.2/3.2 MB 1.8 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlibNote: you may need to restart the kernel to use updated packages.

Successfully installed cycler-0.11.0 fonttools-4.29.1 kiwisolver-1.3.2 matplotlib-3.5.1 pillow-9.0.1

In [7]:
pip install seaborn

Collecting seabornNote: you may need to restart the kernel to use updated packages.
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     ------------------------------------ 292.8/292.8 KB 905.7 kB/s eta 0:00:00
Requirement already satisfied: numpy>=1.15 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.22.2)
Collecting scipy>=1.0
  Downloading scipy-1.8.0-cp310-cp310-win_amd64.whl (37.0 MB)
     ---------------------------------------- 37.0/37.0 MB 1.0 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=2.2 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: pandas>=0.23 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.29.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\muthu r\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.8.0 seaborn-0.11.2

In [4]:
import pandas as pd  #read the dataset
import numpy as np  #numerical python or mathetical calculation
import matplotlib.pyplot as plt #plot the graph
import seaborn as sns #plot graphical

In [5]:
#read the dataset
df = pd.read_csv('diabetes.csv')

In [9]:
df.head() #display first 5 output list

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
df.head(10) #display specific ouput list

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [11]:
df.shape # how many rows and colums

(768, 9)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [12]:
df.isnull() #to check the null values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [29]:
df.isnull().sum() #sum of the null values

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# train and test

In [13]:
pip install sklearn #train and test most popular package

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#train'

In [6]:
from sklearn.model_selection import train_test_split # train_test_split using to split tha datas, two parameter need #data nad label

In [7]:
x =df.iloc[:,df.columns!='Outcome'] #iloc means data framela particluar column or row
y =df.iloc[:,df.columns=='Outcome']

In [16]:
print(x)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [17]:
print(y)

     Outcome
0          1
1          0
2          1
3          0
4          1
..       ...
763        0
764        0
765        0
766        1
767        0

[768 rows x 1 columns]

In [8]:
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=0.2) #20%test #xtrain->namma kudukara train data(80%), ytrain->xtrain kana namma kuduka output(80%), xtest->namma kudukara train data(20%),ytest->xtest voda ouput

In [19]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
42,7,106,92,18,0,22.7,0.235,48
280,0,146,70,0,0,37.9,0.334,28
322,0,124,70,20,0,27.4,0.254,36
378,4,156,75,0,0,48.3,0.238,32
469,6,154,78,41,140,46.1,0.571,27

In [20]:
ytrain.head()

     Outcome
42         0
280        1
322        1
378        1
469        0

In [21]:
xtest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
609,1,111,62,13,182,24.0,0.138,23
269,2,146,0,0,0,27.5,0.240,28
170,6,102,82,0,0,30.8,0.180,36
542,10,90,85,32,0,34.9,0.825,56
141,5,106,82,30,0,39.5,0.286,38

In [9]:
from sklearn.ensemble import RandomForestClassifier #this data set is classifier type

In [10]:
model=RandomForestClassifier()

In [11]:
model.fit(xtrain,ytrain.values.ravel()) #to train the algoritham

RandomForestClassifier()

In [16]:
predict_output=model.predict(xtest) #to test the algoritham

In [17]:
print(predict_output)

[0 0 0 1 0 0 0 0 1 1 0 0 0 1 0 1 1 1 1 0 1 1 0 0 0 0 1 0 0 1 1 0 1 0 1 0 1
 1 1 0 1 0 1 0 0 0 1 1 1 0 1 0 0 1 0 1 1 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0 1
 0 1 0 0 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 1 1
 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 0 1 0
 1 0 0 1 0 0]

In [12]:
from sklearn.metrics import accuracy_score #evalo data currect ah predict pannrathuku

In [22]:
acc=accuracy_score(predict_output,ytest) #evalo data currect ah predict pannrathuku
print('the accuracy score for randomforest algiritham',acc)

the accuracy score for randomforest algiritham 0.7597402597402597